<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">The createst catch</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/logo-mob.png 1x,
                /img/hero/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/logo-mob.png" alt="The createst catch" loading="lazy" />
            </picture>
            <p class="home-text-one">When it gets all quiet underwater, that's actually when the good stuff starts happening.</p>
            <p class="home-text-two">Honestly, it reminds me of those deep-sea thriller movies where you're just waiting for something to jump out at you -
            except here you're waiting for that one spin that's gonna pay off big. With the Bonus Buy feature, you're basically in
            control of when things get intense. The ocean doesn’t reward hesitation.</p>
            <div class="btn-wrapper">
                <a class="hero-btn" href="#">
                    <img src="/img/hero/btn-one.png" alt="Play on this page" loading="lazy">
                </a>
                <a class="hero-btn" href="#mechanic">
                    <img src="/img/hero/btn-two.png" alt="Explore the Mechanics" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</section>
<section class="about-section" id="about">  
    <div class="container about-container">         
        <div class="about-wrapper">
             <article class="disclaimmer-section">
            <div class="container disclaimer-container">
        <h2 class="disclaimer-title">DISCLAIMER</h2>
        <p class="disclaimer-text">silentroute.pro IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION
        OF REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
            </div>
        </article>
        <article class="atmosphere-section" id="atmosphere">
            <div class=" container atmosphere-container">
                <h2 class="atmosphere-title">ATMOSPHERE & WORLD</h2>
                <h3 class="atmosphere-subtitle">A World Below the Surface</h3>
                <p class="atmosphere-text">It's all dark water and eerie quiet, then suddenly you catch something moving way down below. The tension's legit though
                - not like those games where they just add scary music and call it a day. Dark blues everywhere, clean design, and when
                something happens, it actually means something. You’re not chasing noise. You’re tracking presence.</p>
                <ul class="atmosphere-list">
                    <li class="atmosphere-item">
                        <img src="/img/about/item.png" alt="Dot" loading="lazy">
                        <p>Deep-sea cinematic tone</p>
                    </li>
                    <li class="atmosphere-item">
                        <img src="/img/about/item.png" alt="Dot" loading="lazy">
                        <p>Controlled color palette</p>
                    </li>
                    <li class="atmosphere-item">
                        <img src="/img/about/item.png" alt="Dot" loading="lazy">
                        <p>Player-focused tension</p>
                    </li>
                </ul>
            </div>
            </article>
        </div>
            <article class="core-section" id="core">
                <div class="container core-container">
                    <div class="core-wrapper">
                    <h2 class="core-title">CORE GAME FEEL</h2>
                    <h3 class="core-subtitle">How It Plays</h3>
                    <p class="core-text">The reels are super responsive - no annoying lag that kills the mood. There’s no clutter - only momentum, outcomes, and
                    the feeling that every action pushes the session forward.</p></div>
                    <div class="swiper core-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="core-card">
                                    <p class="core-text-slide">Keeps you in the zone without any annoying interruptions</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="core-card">
                                    <p class="core-text-slide">Focused pacing</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="core-card">
                                    <p class="core-text-slide">Immediate visual feedback</p>
                                </div>
                            </div>
                        </div>
                </div>                    
                        <!-- только кнопка next -->
                        <button class="core-next swiper-btn" type="button" aria-label="Next slide">
                           <img src="/img/core/btn.png" alt="Next slide" loading="lazy">
                        </button>

                </div>
            </article>       
    </div>
</section>
<section class="mechanic-section" id="mechanic">
    <div class="container mechanic-container">
<div class="bonus-wrapper">
    <h2 class="bonus-title">BONUS BUY MECHANIC</h2>
    <h3 class="bonus-subtitle">Bonus Buy - Enter on Your Terms</h3>
    <p class="bonus-text">Skip the wait with Bonus Buy - jump straight to the good stuff. You decide when to step into the high-intensity phase
    and trigger the bonus instantly. Now you're calling the shots.</p>
    <div class="check-wrapper">
    <img class="check" src="/img/features/check.png" alt="check" loading="lazy">
    <p class="check-text">You don’t wait for the catch.
    You make it happen.</p>
</div>
</div>
<div class="features-wrapper">
    <h2 class="features-title">SYMBOLS & FEATURES</h2>
    <h3 class="features-subtitle">Tools of the Hunt</h3>
    <p class="features-text">Hooks, fish, gear, and ocean-born symbols dominate the reels. When you nail the right combo... damn, everything just
    goes crazy. Total game changer.</p>
    <p class="features-list-title">Feature points:</p>
    <ul class="features-list">
        <li class="fetaures-item">
            <img src="/img/features/one.png" alt="Item" loading="lazy">
            <p>Strong thematic symbols</p>
        </li>
        <li class="fetaures-item">
            <img src="/img/features/two.png" alt="Item" loading="lazy">
            <p>High-impact special elements</p>
        </li>
        <li class="fetaures-item">
            <img src="/img/features/three.png" alt="Item" loading="lazy">
            <p>Visual emphasis on key moments</p>
        </li>
    </ul>
</div>
    </div>
</section>