<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">The createst catch</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/logo-mob.png 1x,
                /img/hero/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/logo-mob.png" alt="The createst catch" loading="lazy" />
            </picture>
            <p class="home-text-one">When it gets all quiet underwater, that's actually when the good stuff starts happening.</p>
            <p class="home-text-two">Honestly, it reminds me of those deep-sea thriller movies where you're just waiting for something to jump out at you -
            except here you're waiting for that one spin that's gonna pay off big. With the Bonus Buy feature, you're basically in
            control of when things get intense. The ocean doesn’t reward hesitation.</p>
            <div class="btn-wrapper">
                <a class="hero-btn" href="#">
                    <img src="/img/hero/btn-one.png" alt="Play on this page" loading="lazy">
                </a>
                <a class="hero-btn" href="#">
                    <img src="/img/hero/btn-two.png" alt="Explore the Mechanics" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</section>