.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
background-size: cover;
}
.home-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.home-text-one{
    font-family: "Pontano Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33333;
        text-align: center;
        color: #fff;
}
.home-text-two{
    font-family: "Pontano Sans", sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 1.11111;
        text-align: center;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.btn-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/hero/desk.png");
  }
  .home-container{
    padding-bottom: 90px;
  }
  .home-wrapper{
   margin-top: 50px;
width: 654px;
margin-left: auto;
margin-right: auto;
  }
  .home-text-one{
    font-size: 32px;
  }
  .home-text-two{
    font-size: 20px;
  }
  .btn-wrapper{
    margin-top: 17px;
    flex-direction: row;
    gap: 28px;
  }
}
/* Disclaimer */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.about-container{
    padding-left: 0;
    padding-right: 0;
}
.disclaimer-title{
    font-family: "Pontano Sans", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 0.44444;
        text-transform: uppercase;
        color: #2dcb01;
        text-align: left;
        margin-bottom: 30px;
}
.disclaimer-text{
    font-family: "Pontano Sans", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.1;
        text-transform: uppercase;
        text-align: justify;
        color: #2dcb01;
}
/* ATMOSPHERE */
.atmosphere-section{ 
    height: 677px;
    background-image: url("/img/about/about-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.atmosphere-container{
   padding-top: 60px;   
}
.atmosphere-subtitle{
    margin-top: 13px;
margin-bottom: 40px;
}
.atmosphere-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.atmosphere-item{
    display: flex;
    gap: 16px;
    text-transform: uppercase;
}
/* CORE GAME FEEL */
.core-title{
    text-align: left;
}
.core-subtitle{
    text-align: left;
    margin-top: 13px;
    margin-bottom: 32px;
}
.core-text{
text-align: justify;
}
.core-swiper{
margin-top: 80px;
}
.core-swiper .swiper-slide{
width: 361px;
    height: 132px;
    padding: 42px 36px 54px;
    background-image: url("/img/core/back.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 330px 132px; 
}
.core-next{
    margin-top: 24px;
    border: none;
    background-color: inherit;
}
.core-text-slide{
    width: 278px;
}
@media only screen and (min-width: 1440px) {
  .about-section{
    background-image: url("/img/about/desk.png");
  }
  .about-container{
    padding: 48px 78px 41px;
    display: flex;
    flex-direction: column;
  }
  .about-wrapper{
    display: flex;
    gap: 55px;
  }
  .disclaimer-container{
    padding: 0;
    width: 516px;
  }
  .atmosphere-section{
    background-image: url("/img/about/about-desk.png");
    width: 713px;
        height: 525px;
  }
  .atmosphere-container{
    padding: 60px 64px 83px 65px;
  }
  .atmosphere-list{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .core-container{
    display: flex;
      position: relative;
    padding: 0;
    margin-top: 50px;
    align-items: end;
    }
  .core-wrapper{
    width: 700px;
  }
  .core-swiper .swiper-wrapper{
    margin-top: 0;
    width: 361px !important;
    height: 132px;
    margin-left: 0;
  }
  .core-next{
    position: absolute;
    bottom: 0;
    right: -40px;
    z-index: 1;
  }
.core-swiper .swiper-wrapper .swiper-slide{
  width: 361px !important; 
}
}